*,
*::before,
*::after {
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color: black;
    margin: 20px 0;
}
.wrapper, header, footer, main{
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

.wrapper{
    min-width: 320px;
}
header{
    width: 100vw;
    background-color: #1d1a21;
    margin: 0 auto;
    overflow: hidden;
}
header nav{
    width: 100%;
    padding: 15px;
    margin: 0 auto;
}
.toggle,
#checkbox-menu{
    display: none;
}
header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
header nav ul li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #fbe9f8;
    transition: all .3s linear;
}
header nav ul li a:hover{
    text-decoration: underline;
}
main{
    display: flex;
    justify-content: center;
}
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    background-color: #fceaf9;
    padding: 10px;
}
.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(assets/IMG/87263562.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.avatar img{
    display: none;
}
.contants{
    margin: 20px auto;
    align-self: flex-start;
    padding: 0 20px;
}

.contact-link{
    display: block;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #1d1a21;
    margin: 10px 0;
}
.contact-link:hover{
    text-decoration: underline;
}
.contact-link:before{
    content: "";
    background-image: url(assets/IMG/icons8-github-64.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: -25px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.contact-link1:before{
    background-image: url(assets/IMG/icons8-телефон-50.png);
}
.contact-link2:before{
    background-image: url(assets/IMG/icons8-почта-50.png);
}
.contact-link3:before{
    background-image: url(assets/IMG/icons8-github-64.png);
}
.contact-link4:before{
    background-image: url(assets/IMG/icons8-vk-в-круге-50.png);
}
.contact-link5:before{
    background-image: url(assets/IMG/icons8-маркер-60.png);
}
.courses{
    margin: 20px auto;
    align-self: flex-start;
    padding: 0 20px;
}
.list-courses dt{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
}
.list-courses dt:first-child{
    text-transform: lowercase;
}
.list-courses dt::first-letter{
    text-transform: uppercase;
}
.list-courses dd{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 5px 0;
    color: #1d1a21;
}
.list-courses h4{
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 5px 0;
    color: #fbe9f8;
    border-radius: 2px;
    background-color: #380042;
    padding: 4px;
}
.skils{
    margin: 20px auto;
    align-self: flex-start;
    padding: 0 20px;
}
.skils .list-item{
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #1d1a21;
    margin: 10px 0;
} 
.skils .list-item p{
    width: 115px;
    display: inline-block;
}
.stars{
    display: inline;
}
.star-item{
    display: inline;
    position: relative;
}
.skils .star{
    display: inline;
    background-color: #fbe9f8;
    position: absolute;
    top: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #1d1a21;
    border-radius: 50%;
    transition: all linear .3s;
}
.star:hover{
    transform: scale(1.1);
}
.star1{
    right: -5px;
}
.star2{
    right: -10px;
}
.star3{
    right: -15px;
}
.star4{
    right: -20px;
}
.star5{
    right: -30px;
}

.skils input[type="checkbox"]{
    visibility: hidden;
}
.skils input[type="checkbox"]:checked+label{
    background-color: #380042;
}


@media screen and (max-width:767px) {
.toggle{
    clear: both;
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    width: 100%;
    color: black;
    background-color: #380042;
    transition: all 0.2s linear;
}
.toggle:hover{
    background-color: #5b006a;
}
#checkbox-menu:checked + label .header-nav{
    height: 300px;
    opacity: 1;
    visibility: visible;
    transition: all .5s linear;
}
.header-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: height .3s linear;
}
.header-nav li{
    width: 95%;
    text-align: center;
    align-self: center;
    align-content: center;
}
main{
    flex-direction: column;
}
aside{
    margin-right: 0;
}
.contants{
    align-self: center;
}
.courses{
    align-self: center;
}
.skils{
    align-self: center;
}
}